@import "../../../../assets/styles/mixins";

.viewing {
  padding: 50px 0 50px;
  .title {
    text-align: center;
    margin-bottom: 50px;
  }
  &-body {
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    background-color: #FFD7A4;
    border-radius: 15px;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
  }
  &-head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    &-link {
      text-decoration: none;
      font-size: 18px;
      color: #1F1C1C;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &-status {
    display: flex;
    align-items: center;
    &-title {
      font-size: 18px;
      margin-right: 10px;
    }
    &-text {
      font-size: 16px;
    }
  }
  &-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    &-title {
      font-size: 24px;
      margin-right: 15px;

    }
    &-text {
      @include hidden-scroll;
      font-size: 18px;
    }
  }
  &-description {
    @include hidden-scroll;
    margin-bottom: 50px;
    &-title {
      font-size: 24px;
      margin-bottom: 5px;
    }
    &-text {
      font-size: 20px;
    }
  }
  &-actions {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-end;
  }
}

